<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>

<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
        }
        
        .container1 {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        .container2 {
            max-width: 1650px;
            margin: 20px 0 20px 20px;
            padding: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        #profileimage {
            padding: 20px;
        }

        
        .form-group {
            margin-bottom: 20px;
        }
        
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        
        button[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        
        button[type="submit"]:hover {
            background-color: #45a049;
        }

        /* Basic table styling */
        table {
        border-collapse: collapse;
        width: 100%;
        }

        /* Table header styles */
        thead th {
        background-color: #f2f2f2;
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
        }

        /* Table body styles */
        tbody td {
        border: 1px solid #dddddd;
        padding: 8px;
        }

        /* Alternating row colors for better readability */
        tbody tr:nth-child(even) {
        background-color: #f9f9f9;
        }
</style>

<style>
    /* Add styles for Update and Delete buttons */
    .btn {
        padding: 8px 16px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        transition: background-color 0.3s, opacity 0.3s;
    }

    /* Style for Update button */
    .registration-btn {
        background-color: #F2BB66;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
    }

    /* Style for Update button */
    .update-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
    }

    /* Style for Delete button */
    .delete-btn {
        background-color: #dc3545;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .addedu-btn {
        background-color: #FFA500;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .remove_field_button,.remove_field_button2 {
        background-color: #ff0000;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .add_field_button,.add_field_button2 {
        background-color: #2600ff;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    /* Hover effect for buttons */
    .btn:hover {
        opacity: 0.8;
    }
</style>

<style>
    /* Style for Save Changes button inside the update modal */
    #save_changes_btn {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        margin-top: 10px;
    }

    /* Hover effect for the Save Changes button */
    #save_changes_btn:hover {
        opacity: 0.8;
    }

    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 10px solid #888;
        width: 50%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .uploadclose {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .uploadclose:hover,
    .uploadclose:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<style>
    /* Add styles for the beautiful heading "</> USERS" */
    .users-heading1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        border: 5px solid #4CAF50; /* Add border with color #ccc */
        padding: 10px; /* Add padding to create space between the border and content */
    }

    .users-symbol {
        font-size: 40px;
        color: #F2BB66; /* Set the color to green (#4CAF50) */
    }
</style>

<style>
    /* Add styles for the beautiful heading "</> USERS" */
    .users-heading2 {
        font-size: 36px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 30px;
        border: 5px solid #4CAF50; /* Add border with color #ccc */
        padding: 10px; /* Add padding to create space between the border and content */
    }
</style>

<style>
    label.error {
        color: red;
    }
</style>

<style>
    
    #strength {
        font-weight: bold;
    }


    .weak {
        color: red;
    }

    .medium {
        color: orange;
    }

    .strong {
        color: green;
    }

</style>

</head>

<body>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    {{!--------------------------------------BUTTONS------------------------------------------------------}}
    <div class="users-heading1">
    Sample Website
    <span class="users-symbol">&lt;/&gt;</span>
    </div>

    <div class="users-heading2">
        <td>
        <button type="button" id="registration_id" class="registration-btn">Register</button>
        <button type="button" id="cont_id" class="registration-btn">Contact Us</button>
        <button type="button" id="about_id" class="registration-btn">About Us</button>
        <button type="button" id="product_id" class="registration-btn">Products</button>
        </td>
    </div>


{{!----------------------------------------------REGISTRATION MODAL-----------------------------------------------}}

    <div class="container1">
        <div id="registration_modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Registration Form</h2>
                <form id="registration_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phoneno">Phone Number:</label>
                        <input type="text" id="contno" name="contno">
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password">
                        <p id="message">your Password is<span id="strength"></span></p>
                    </div>
                    <div class="form-group">
                        <label for="cv">Upload CV:</label>
                        <input type="file" id="cv" name="cv">
                    </div>
                    <div class="input_field_container">
                        <div class="input_field_wrap">
                            <label for="Education">Education</label>
                            <div>
                                <input type="text" name="degree0" id="degree0" placeholder="degree">
                                <input type="text" name="board0" id="board0" placeholder="board">
                                <input type="tel" name="year0" id="year0" placeholder="year">
                                <input type="tel" name="marks0" id="marks0" placeholder="marks">
                            </div>
                            <button class="add_field_button" class="btn btn-primary">Add More</button><br>
                        </div>
                    </div>
                    <button type="submit" id="register_btn" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>

<script>
    //---------------------------------------------------BUTTONS--------------------------------------------------------//
    $(document).on('click', '#registration_id', function() {
    $("#registration_modal").show();
});


$(".close").on("click", function() {
    $("#registration_modal").hide();
});
</script>

<script>
        document.addEventListener("DOMContentLoaded", function () {
        const passwordInput = document.getElementById("password");
        const strengthIndicator = document.getElementById("strength");

        passwordInput.addEventListener("input", function () {
            const password = passwordInput.value;
            const strength = calculatePasswordStrength(password);

            strengthIndicator.classList.remove("weak", "medium", "strong");

            if (strength === "weak") {
                strengthIndicator.classList.add("weak");
                strengthIndicator.textContent = " Weak";
            } else if (strength === "medium") {
                strengthIndicator.classList.add("medium");
                strengthIndicator.textContent = " Medium";
            } else if (strength === "strong") {
                strengthIndicator.classList.add("strong");
                strengthIndicator.textContent = " Strong";
            }
        });

        function calculatePasswordStrength(password) {
            if (password.length < 8) {
                return "weak";
            } else if (password.length < 12) {
                return "medium";
            } else {
                return "strong";
            }
        }
    });

    
    $.validator.addMethod("lettersOnly", function(value, element) {
    return this.optional(element) || /^[A-Za-z]+$/i.test(value);
    }, "Please enter only alphabetic characters.");

    $.validator.addMethod("validUsername", function(value, element) {
    // Check if the username has no spaces and no uppercase letters
    return this.optional(element) || !/\s/.test(value) && value === value.toLowerCase();
    }, "Username should not have spaces or uppercase letters");

    $.validator.addMethod("strongPassword", function(value, element) {
        // At least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character
        return this.optional(element) || /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/i.test(value);
    }, "Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one digit, and one special character.");
    
    $.validator.addMethod("pdfOnly", function(value, element) {
    return this.optional(element) || /\.(pdf)$/i.test(value);
    }, "Please upload a PDF file.");

$(document).ready(function(){
    var max_fields = 10;

    var x = 0;
    $(".add_field_button").click(function(e){
        e.preventDefault();
        x++;
            var html = `<div class="input_field_wrap">
                <input type="text" name="degree${x}" id="degree${x}" placeholder="degree">
                <input type="text" name="board${x}" id="board${x}" placeholder="board">
                <input type="tel" name="year${x}" id="year${x}" placeholder="year">
                <input type="tel" name="marks${x}" id="marks${x}" placeholder="marks">
                <button class="remove_field_button">remove</button><br>
                </div>`
            $(".input_field_container").append(html);
    })

    $(".input_field_container").on("click",".remove_field_button", function(e){
        e.preventDefault();
        $(this).parent('div').remove();
    })
})

$(document).ready(function(){
    $("#registration_form").validate({
        rules: {
            firstname: {
                required: true,
                lettersOnly: true
            },
            lastname: {
                required: true,
                lettersOnly: true
            },
            email: {
                required: true
            },
            contno: {
                required: true,
                minlength: 10,
                maxlength: 10,
                number: true
            },
            username: {
                required: true,
                validUsername: true
            },
            password: {
                required: true,
                strongPassword: true
            },
            cv: {
                required: true,
                pdfOnly: true
            }
        },
        messages: {
            contno: {
                required: "Please enter a contact number",
                validContNo: "Please enter a valid 8-digit contact number that does not start with zero"
            },
            username: {
                required: "Please enter a username",
                validUsername: "Username should not have spaces or uppercase letters"
            },
            password: {
                required: "Please enter a password",
            },
            cv: {
                required: "Please upload a file",
            }
        },
        submitHandler: function(form){
            var firstname = $('#firstname').val();
            var lastname = $('#lastname').val();
            var email = $('#email').val();
            var contno = $('#contno').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var filedata = document.getElementById("cv");
            const formdata = new FormData();
            var file = filedata.files[0];
            formdata.append("json", true);
            formdata.append("cv", file);
            formdata.append("firstname", firstname);
            formdata.append("lastname", lastname);
            formdata.append("email", email);
            formdata.append("contno", contno);
            formdata.append("username", username);
            formdata.append("password", password);
            let edurow = [];
            $(".input_field_wrap").each(function (index) {
                let newedu = {
                    degree: $(`#degree${index}`).val(),
                    board: $(`#board${index}`).val(),
                    year: $(`#year${index}`).val(),
                    marks: $(`#marks${index}`).val()
                };
            edurow.push(newedu);
            console.log(edurow);
            });

            formdata.append('edurow',JSON.stringify(edurow));

            $.ajax({
                type: "POST",
                url: "/post",
                data: formdata,
                processData: false,
                contentType: false,
                success: function(response)  {
                    if (response.success == true) {
                        alert("Form submitted successfully.");
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                }
            });
        }
    })
})
</script>

{{!-----------------------------------------------------TABLE----------------------------------------------------------------}}
    <div class="container2">
        <table>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>email</th>
                <th>phn</th>
                <th>username</th>
                <th>password</th>
                <th>actions</th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.contno}}</td>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
                <td>
                    <button type="button" id="delete_id" class="delete-btn" data-id="{{this.id}}">Delete</button>
                    <button type="button" id="update_id" class="update-btn" data-id="{{this.id}}">Update</button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

{{!---------------------------------------------------UPDATE MODAL-------------------------------------------------}}
    <div class="container1">
        <div id="update_modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Update User</h2>
                <form id="update_form">
                    <input type="hidden" id="up_id" name="up_id">
                    <div class="form-group">
                        <label for="update_firstname">First Name:</label>
                        <input type="text" id="update_firstname" name="update_firstname" readonly>
                    </div>
                    <div class="form-group">
                        <label for="update_lastname">Last Name:</label>
                        <input type="text" id="update_lastname" name="update_lastname">
                    </div>
                    <div class="form-group">
                        <label for="update_email">Email:</label>
                        <input type="email" id="update_email" name="update_email">
                    </div>
                    <div class="form-group">
                        <label for="update_contno">Phone Number:</label>
                        <input type="text" id="update_contno" name="update_contno">
                    </div>
                    <div class="form-group">
                        <label for="update_username">Username:</label>
                        <input type="text" id="update_username" name="update_username">
                    </div>
                    <div class="form-group">
                        <label for="update_password">Password:</label>
                        <input type="password" id="update_password" name="update_password" required>
                    </div>
                    <div class="input_field_container2">
                        <div class="input_field_wrap2">
                            <label for="Education">Education</label>
                            
                            <input type="text" name="update_degree0" id="update_degree0" placeholder="degree">
                            <input type="text" name="update_board0" id="update_board0" placeholder="board">
                            <input type="tel" name="update_year0" id="update_year0" placeholder="year">
                            <input type="tel" name="update_marks0" id="update_marks0" placeholder="marks">
                            
                            <button class="add_field_button2" class="btn btn-primary">Add More</button><br>
                        </div>
                    </div>
                    <button type="submit" id="save_changes_btn2" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>



<script>

//------------------------------------------UPDATE-------------------------------------//
    $(document).ready(function(){
        var max_fields = 10;

        var x = 0;
        $(".add_field_button2").click(function(e){
            e.preventDefault();
            x++;
                var html = `<div class="input_field_wrap2">
                    <input type="text" name="update_degree${x}" id="update_degree${x}" placeholder="degree">
                    <input type="text" name="update_board${x}" id="update_board${x}" placeholder="board">
                    <input type="tel" name="update_year${x}" id="update_year${x}" placeholder="year">
                    <input type="tel" name="update_marks${x}" id="update_marks${x}" placeholder="marks">
                    <button class="remove_field_button2">remove</button><br>
                    </div>`
                $(".input_field_container2").append(html);
        })

        $(".input_field_container2").on("click",".remove_field_button2", function(e){
            e.preventDefault();
            $(this).parent('div').remove();
        })
    })

    $(document).on('click', '#update_id', function() {
        const id = $(this).data('id');
        $("#update_modal").show();
        $("#up_id").val(id);
        $.ajax({
            type:"POST",
            url:"/view-details",
            data:{id},
            success:function(response){
                //const a = (response.showdata.createdAt)//
                const firstname = response.showdata.firstname
                $("#update_firstname").val(firstname);

                const lastname = response.showdata.lastname
                $("#update_lastname").val(lastname);

                const email = response.showdata.email
                $("#update_email").val(email);

                const contno = response.showdata.contno
                $("#update_contno").val(contno);

                const username = response.showdata.username
                $("#update_username").val(username);

                const password = response.showdata.password
                $("#update_password").val(password);

                //for loop for degree
            }
        })
    });

    
    $(".close").on("click", function() {
        $("#update_modal").hide();
    });
    
    
    
    $(document).ready(function() {
            $("#update_form").validate({
                rules: {
                    id:{
                        required: true
                    },
                    update_firstname: {
                        required: true
                    },
                     update_lastname: {
                        required: true
                    },
                     update_email: {
                        required: true
                    },
                     update_contno: {
                        required: true
                    },
                     update_username: {
                        required: true
                    },
                     update_password: {
                        required: true
                    },
                },
                submitHandler: function(form) {
                    var id2 = $('#up_id').val();
                    var firstname = $('#update_firstname').val();
                    var lastname = $('#update_lastname').val();
                    var email = $('#update_email').val();
                    var contno = $('#update_contno').val();
                    var username = $('#update_username').val();
                    var password = $('#update_password').val();
                    
                    let edurow2 = [];
                    
                    $(".input_field_wrap2").each(function (index) {
                        
                        let newedu2 = {
                            degree: $(`#update_degree${index}`).val(),
                            board: $(`#update_board${index}`).val(),
                            year: $(`#update_year${index}`).val(),
                            marks: $(`#update_marks${index}`).val()
                        };
                    edurow2.push(newedu2);
                    });
                    
                    $.ajax({
                        type: "POST",
                        url: "/postupdate",
                        data: {
                            up_id:id2,
                            update_firstname: firstname,
                            update_lastname:lastname,
                            update_email:email,
                            update_contno:contno,
                            update_username:username,
                            update_password:password,
                            edurow:JSON.stringify(edurow2)
                        },
                        success: function(response)  {
                            if (response.success == true) {
                                alert("User updated successfully.");
                                window.location.reload();
                            } else {
                                alert(response.message);
                            }
                        }
                    })
                }
            });
        });

</script>

<script>
    //---------------------------------------------DELETE-----------------------------//
 
    $(document).on('click', '#delete_id', function() {
        const id = $(this).data('id');
       
        $.ajax({
            type: "POST",
            url: "/postdelete", 
            data: { id: id },
            success: function(response) {
                alert(response.message);
                window.location.reload();    
            },
            error: function() {
                alert("An error occurred while deleting the user.");
            }
        });
    });
</script>

</body>
</html>